#header {
    height: 80px;
    text-align: center;
    background: darkslategray;
    color: white;
    font-size: 70px;
}

.input-group {
    margin: 20px;
}

.list-group-item{
    margin: 20px;
    font-size: 25px;
    margin-left: 35px;
}

.current-temp {
    height: 70%;
}